[submodule "exchangeRate"]
	path = exchangeRate
	url = https://github.com/iremlaletu/exchangeRate.git
[submodule "wishlist"]
	path = wishlist
	url = https://github.com/iremlaletu/thewishlist.git
[submodule "toDo"]
	path = toDo
	url = https://github.com/iremlaletu/toDoApp.git
[submodule "ecommerce"]
	path = ecommerce
	url = https://github.com/iremlaletu/ecommerce.git
[submodule "weatherApp"]
	path = weatherApp
	url = https://github.com/iremlaletu/weatherApp.git
[submodule "yogaapp"]
	path = yogaapp
	url = https://github.com/iremlaletu/yogaapp.git
